#container-sign-in{
    -fx-background-color: linear-gradient(to right, rgba(0,211,255,1) 0%,  rgba(0,134,255,1) 100%);
    -fx-aligment:center;
}
#container-white{
    -fx-background-color: linear-gradient(to right, #f9fcff 0%, #e1f5f9 100%);
    -fx-aligment:center;
}
#login-text-w{
    -fx-font-family: "Roboto", sans-serif;
    -fx-line-spacing: -5px;
    -fx-text-fill: #fff;
    -fx-font-size: 22px;
    -fx-aligment:center;
    -fx-font-weight: bold;
}
#event-text{
    -fx-font-family: "Roboto", sans-serif;
    -fx-line-spacing: -5px;
    -fx-text-fill: #4e4e4e;
    -fx-font-size: 22px;
    -fx-aligment:center;
    -fx-font-weight: bold;
}
#sign-up-text{
    -fx-font-family: "Roboto", sans-serif;
    -fx-line-spacing: -5px;
    -fx-text-fill: linear-gradient(to right, rgba(0,211,255,1) 0%,  rgba(0,134,255,1) 100%);
    -fx-font-size: 22px;
    -fx-aligment:center;
    -fx-font-weight: bold;
}
#standard-field-text-w{
    -fx-font-family: "Roboto", sans-serif;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-aligment:center;
}
#login-btn {
    -fx-aligment:center;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-background-color: transparent;
    -fx-padding: 5px 15px;
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
    -fx-border-radius: 50px;
    -fx-font-weight: bold;
}
#sign-up-btn {
    -fx-aligment:center;
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
    -fx-background-color: linear-gradient(to right, rgba(0,211,255,1) 0%,  rgba(0,134,255,1) 100%);
    -fx-padding: 5px 15px;
    -fx-border-width: 1px;
    -fx-border-radius: 50px;
    -fx-font-weight: bold;

}
#fade-red-btn {
    -fx-aligment:center;
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
    -fx-background-color: linear-gradient(to right, rgba(255, 117, 147, 0.9) 0%,  rgba(254, 83, 120, 0.9) 100%);
    -fx-padding: 5px 15px;
    -fx-border-width: 1px;
    -fx-border-radius: 50px;
    -fx-font-weight: bold;

}
#fade-btn {
    -fx-aligment:center;
    -fx-font-size: 16px;
    -fx-text-fill: #fff;
    -fx-background-color: linear-gradient(to right, rgba(255, 133, 206, 0.9) 0%,  rgba(255, 105, 150, 0.9) 100%);
    -fx-padding: 5px 15px;
    -fx-border-width: 1px;
    -fx-border-radius: 50px;
    -fx-font-weight: bold;

}
#login-btn:hover {
    -fx-padding: 7px 28px;
    -fx-text-fill: #bedfff;
    -fx-border-color: #c9e5ff;
}
#standard-field-input-w {
    -fx-max-width: 200px;
    -fx-font-size: 18px;
    -fx-border-width: 0px;
    -fx-border-color: #cccccc;
    -fx-background-color: #effbff;
    -fx-text-fill: #c4c4c4;
    -fx-border-style: solid;
    -fx-border-radius: 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(66,66,66,.75), 5, 0, 0, 0);
    -fx-padding: 5px;
    -fx-border-insets: 7px;
    -fx-background-insets: 7px;
}
#password-field {
    -fx-max-width: 200px;
    -fx-font-size: 18px;
    -fx-border-width: 0px;
    -fx-border-color: #cccccc;
    -fx-background-color: #effbff;
    -fx-text-fill: #c4c4c4;
    -fx-border-style: solid;
    -fx-border-radius: 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(66,66,66,.75), 5, 0, 0, 0);
    -fx-padding: 5px;
    -fx-border-insets: 15px;
    -fx-background-insets: 15px;
}
#simple-transparent-btn{
    -fx-aligment:center;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-background-color: transparent;
    -fx-padding: 5px 15px;
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
    -fx-border-radius: 50px;
    -fx-font-weight: bold;
}
#simple-white-text{
    -fx-font-family: "Open Sans", sans-serif;
    -fx-text-fill: #fff;
    -fx-font-size: 18px;
    -fx-aligment:center;
    -fx-font-weight: bold;
}
#simple-black-text{
    -fx-font-family: "Open Sans", sans-serif;
    -fx-text-fill: #404040;
    -fx-font-size: 18px;
    -fx-aligment:center;
    -fx-font-weight: normal;
}
#standard-choice-menu{
    -fx-background-color: rgb(222, 247, 255);
}
#standard-field-input{
    /* -fx-max-width: 100px; */
    -fx-font-size: 18px;
    -fx-border-width: 0px;
    -fx-border-color: #cccccc;
    -fx-background-color: #effbff;
    -fx-text-fill: #c4c4c4;
    -fx-border-style: solid;
    -fx-border-radius: 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(66,66,66,.75), 5, 0, 0, 0);
    -fx-padding: 2px;
    -fx-border-insets: 6px;
    -fx-background-insets: 6px;
}